<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <!--
          ASOSIY SERVER (DESKTOP-MH76F5N) da Integrated Security ishlaydi.
          BOSHQA MONOBLOKLARDA shu qatorni SQL Auth ga o'zgartiring:
            connectionString="Data Source=DESKTOP-MH76F5N;Initial Catalog=FoodX;User ID=foodx;Password=PAROL;TrustServerCertificate=True"
        -->
        <add name="FoodX"
             connectionString="Data Source=195.158.24.155,1433;Initial Catalog=FoodX;User ID=sa;Password=Ac0323301;TrustServerCertificate=True;Encrypt=False"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>